{% extends "gismodel/base.html" %}

{% block title %} Тестовый Проект {% endblock %}

{% block content %}
  <h1>Карта Казахстана</h1>

    <div class="border border-success" id="map" style="width: 100%; height: 500px;"></div>
    <script>

        var var0 = parseFloat("{{ center_of_map.0 }}");
        var var1 = parseFloat("{{ center_of_map.1 }}");
        var list = [var1, var0];
        var map = L.map('map').setView(list, 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);


        var geojson_data = {{ geojson_data|safe }};


        // L.geoJSON(geojson_data).addTo(map);

        function getColor(d) {
            return d > 1000 ? '#f7fcfd' :
                   d > 500  ? '#e5f5f9' :
                   d > 200  ? '#ccece6' :
                   d > 100  ? '#99d8c9' :
                   d > 50   ? '#66c2a4' :
                   d > 20   ? '#41ae76' :
                   d > 10   ? '#238b45' :
                              '#005824';
        }

        function style(feature) {
            return {
                fillColor: getColor(feature.properties.density),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }


        function highlightFeature(e) {
            var layer = e.target;

            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            layer.bringToFront();
            info.update(layer.feature.properties);
        }

        function resetHighlight(e) {
            geojson.resetStyle(e.target);
            info.update();
        }

        function zoomToFeature(e) {
            map.fitBounds(e.target.getBounds());
        }


        function onEachFeature(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: zoomToFeature
            });
        }

        geojson = L.geoJson(geojson_data, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map);



        var info = L.control();
        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this.update();
            return this._div;
        };
        // method that we will use to update the control based on feature properties passed
        info.update = function (props) {
            this._div.innerHTML = '<h4>Какие-то значения</h4>' +  (props ?
                '<b>' + props.ADM1_EN + '</b><br />' + props.density + ' %'
                : 'Hover over a state');
        };

        info.addTo(map);

        var legend = L.control({position: 'bottomright'});
        legend.onAdd = function (map) {
            var div = L.DomUtil.create('div', 'info legend'),
                grades = [0, 10, 20, 50, 100, 200, 500, 1000],
                labels = [];
            // loop through our density intervals and generate a label with a colored square for each interval
            for (var i = 0; i < grades.length; i++) {
                div.innerHTML +=
                    '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                    grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
            }
            return div;
        };

        legend.addTo(map);


    </script>
{% endblock %}


