{% extends "gismodel/base.html" %}

{% block title %} Тестовый Проект {% endblock %}

{% block content %}
    <h1 class="text-center mb-3">Распространение саранчовых на карте Казахстана</h1>

    <div class="border border-success" id="map" style="width: 100%; height: 500px;"></div>
    <div id="chart-container"></div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Области
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Районы
      </label>
    </div>

    <script>

        var var0 = parseFloat("{{ center_of_map.0 }}");
        var var1 = parseFloat("{{ center_of_map.1 }}");
        var list = [var1, var0];
        var map = L.map('map').setView(list, 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        var geojson_data = {{ geojson_data|safe }};

        function getColor(d) {
            return d > 100  ? '#bd0026' :
                   d > 50   ? '#f03b20' :
                   d > 20   ? '#fd8d3c' :
                   d > 10   ? '#fecc5c' :
                              '#ffffb2';
        }

        function style(feature) {
            return {
                fillColor: getColor(feature.properties.density),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }

        function highlightFeature(e) {
            var layer = e.target;

            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            layer.bringToFront();
            info.update(layer.feature.properties);
        }

        function resetHighlight(e) {
            geojson.resetStyle(e.target);
            info.update();
        }

        function zoomToFeature(e) {
            var propertires_of_shape = e.sourceTarget.feature.properties;

            var adm1_name = propertires_of_shape.ADM1_EN;
            var adm2_name = propertires_of_shape.ADM2_EN;
            var shape_lat = propertires_of_shape.centroid.coordinates[0];
            var shape_lon = propertires_of_shape.centroid.coordinates[1];

            $.ajax({
                type: "GET",
                url: "/ajax/",
                data: {
                    'adm1_name': adm1_name,
                    'adm2_name': adm2_name,
                    'shape_lat': shape_lat,
                    'shape_lon': shape_lon,
                },
                success: function(data) {
                    // Parse the JSON response
                    var jsonData = JSON.parse(data);

                    // Extract data from the DataFrame
                    var xData = jsonData.map(function (row) {
                        return row.time; // Assuming you have an 'x' column for x-axis labels
                    });

                    var shortwaveRadiationData = jsonData.map(function (row) {
                        return row.shortwave_radiation_sum;
                    });
                    var maxTemperatureData = jsonData.map(function (row) {
                        return row.temperature_2m_max;
                    });
                    var minTemperatureData = jsonData.map(function (row) {
                        return row.temperature_2m_min;
                    });
                    var precipitationData = jsonData.map(function (row) {
                        return row.precipitation_sum;
                    });

                    // Create a line chart using Plotly.js
                    var data = [
                        {
                            x: xData,
                            y: shortwaveRadiationData,
                            mode: 'lines',
                            name: 'Радиация, MJ/m²'
                        },
                        {
                            x: xData,
                            y: maxTemperatureData,
                            mode: 'lines',
                            name: 'Термература макс, °C'
                        },
                        {
                            x: xData,
                            y: minTemperatureData,
                            mode: 'lines',
                            name: 'Термература мин, °C'
                        },
                        {
                            x: xData,
                            y: precipitationData,
                            mode: 'lines',
                            name: 'Осадки сумма, mm'
                        }
                    ];

                    var layout = {
                        title: `${adm1_name} || ${adm2_name}`
                    };

                    Plotly.newPlot('chart-container', data, layout);
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });

            map.fitBounds(e.target.getBounds());
        }

        function onEachFeature(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: zoomToFeature
            });
        }

        geojson = L.geoJson(geojson_data, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map);

        var info = L.control();
        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info');
            this.update();
            return this._div;
        };

        info.update = function (props) {
            this._div.innerHTML = '<h4>Процент зараженности полей</h4>' +  (props ?
                '<b>' + props.ADM2_EN + '</b><br />' + props.density + ' %. ' + props.GRIDCODE + ''
                : 'Направьте курсор на область');
        };

        info.addTo(map);

        var legend = L.control({position: 'bottomright'});
        legend.onAdd = function (map) {
            var div = L.DomUtil.create('div', 'info legend'),
                grades = [0, 10, 20, 50, 100],
                labels = [];

            for (var i = 0; i < grades.length; i++) {
                div.innerHTML +=
                    '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                    grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
            }
            return div;
        };

        legend.addTo(map);


      var radio1 = document.getElementById("flexRadioDefault1");
      var radio2 = document.getElementById("flexRadioDefault2");

      radio1.addEventListener("click", function() {
            $.ajax({
                type: "GET",
                url: "/ajax/",
                data: {
                    'test': 777,
                },
                success: function(data) {
                    var geoJSONData = JSON.parse(data);

                    console.log(geoJSONData);

                    if (geojson) {
                        map.removeLayer(geojson);
                    }

                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 6,
                    }).addTo(map);

                    // Add the GeoJSON data to the map
                    geojson = L.geoJSON(geoJSONData, {
                        style: style,
                        onEachFeature: onEachFeature
                    }).addTo(map);


                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
      });

      radio2.addEventListener("click", function() {
        console.log("Radio 2 clicked");
      });


    </script>
{% endblock %}


